<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.atividades.minhapedida">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/APP_atividadeAvaliativa"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".view.ProdutoActivity"
            android:label="@string/LABEL_gerenciando" />

        <activity
            android:name=".view.PedidoActivity"
            android:label="@string/LABEL_addProduto" />

        <activity
            android:name=".view.ComandaActivity"
            android:label="@string/LABEL_minhaComanda">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>